/* header link hover property */
.unselectedLink:hover:not(.active) {
    color: #2289FF
}

/* Buy, rent, sell hover property */
.NotHoveredLink:hover:not(.active) {
    border: 1px solid #2289FF;
    background-color: #2289FF;
    border-radius: 50px;
    color: #FFFFFF;
}

/* light blue button color change on hover */
.LightBlueButton:hover:not(.active) {
    background-color: #015ac0;
    cursor: pointer;
}

/* dark blue button color change on hover */
.DarkBlueButton:hover:not(.active) {
    background-color: #017ac0;
    cursor: pointer;
}

/* advance filter button style on hover */
.AdvancedFilter:hover:not(.active) {
    cursor: pointer;
    text-decoration: underline;
}

/* apartment plan links hover property */
.SecFourUnFocusedButton:hover:not(.active) {
    color: #2289FF;
    text-decoration: underline;
}

/* footer anchor links hover property */
.FooterAnchorLinks:hover:not(.active) {
    text-decoration: underline;
}